html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("background.jpg");
	background-size: 100px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;

	animation-name: offsetBackground;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-timing-function: linear;

	-webkit-tap-highlight-color: transparent;
}

@keyframes offsetBackground {
	from { background-position: 0px 0px; }
	to { background-position: 100px 100px; }
}

#main {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

#strawberry {
	width: 200px;
	max-width: 100%;
	cursor: pointer;
	pointer-events: all;
	padding: 50px;
	user-select: none;
}

#strawberry:active {
	transform: scale(0.9);
}

#stats {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#stats div {
	display: flex;
	margin-top: 8px;
}

#production {
	color: rgb(204, 204, 204);
}

.btn {
	user-select: none;
	cursor: pointer;
}

.buyNode {
	background-color: white;
	color: black;
	padding: 8px;
	border-radius: 5px;
}

.buyNode:active {
	transform: scale(0.9);
}

#resetButton {
	position: absolute;
	bottom: 0;
	display: flex;
	align-self: flex-start;
	margin: 10px;
	opacity: 0.5;
}

particle {
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	opacity: 0;
}